
.container {
    display: grid;
    grid-gap: 1rem; 
    grid-template-areas: 
    "header header header header"
    "main  main sidebar sidebar"
    "main main footer box";
}
.item { 
    padding: 2rem;
    border-radius: 15px;   
}
.item1 {
    background-color: red;
    grid-area: header;
}
.item2 {
    background-color: blue;
    grid-area: main;
}
.item3 {
    background-color: green;
    grid-area: sidebar;    
}
.item4 {
    background-color: purple; 
    grid-area: footer;  
}
.item5 {
    background-color:purple;   
    grid-area: box; 
}