* {
    box-sizing: border-box;
}

}.container {
    max-width: 962px;  
    margin: auto;  
    
}
header {
    font-family: arimo;
    font-size: 30px;
    margin: 50px 0 0 130px;
    letter-spacing: 7px;
}
img {
    padding: 150px 0 0 150px;
    float: left;
    width: 30%;
}
nav p {
    color:rgb(66, 62, 62) !important;
    text-align: right;
    margin-right: 150px;
    margin-top: 1px;
    text-decoration: none;
    letter-spacing: 3px;
    border-color: grey !important;
}

nav p span:hover {
    color: grey;
}
nav p span1:hover {
    color: grey;
}nav p span2:hover {
    color: grey;
}nav p span3:hover {
    color: grey;
}nav p span4:hover {
    color: grey;
}nav p span5:hover {
    color: grey;
}

aside  h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 300px;
    letter-spacing: 10px;
}
aside  h4 {
    color: rgb(66, 62, 62);
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    line-height: 2;
    letter-spacing: 4px;
    
}
aside {
    padding: 0 250px 0 0;
    float: right;
    width: 60%;
}
footer {
    margin-top: 1000px;
    text-align: center;
    color:rgb(66, 62, 62) !important;
    margin-bottom: 100px;
    line-height: 1.8;
    letter-spacing: 7px;

}
footer .contact {
    color:rgb(66, 62, 62) !important;
    margin-bottom: 80px;

}