* {
    box-sizing: border-box;
    font-family:  'Helvetica Neue', Arial, sans-serif;
    
    text-align: center;
}
/* }.container {
    max-width: 962px;  
    margin: auto;  
} */
body #errorbox h1 {
font-size:40px;
color: #3d464d;
font-weight: lighter;
margin-bottom: 0px; 
}
body #errorbox h2 {
    font-size:20px;
    color: #3d464d;
    font-weight:lighter;
    margin: 0px 0 10px 0;
    }
    body #errorbox h4 {
        font-size: 14px;
        color: #3d464d;
        font-weight: lighter;
        margin-bottom: 10px;
        }
.notfound {
    font-size: 14px;
   line-height: 2;
   color: blue;
   border-bottom: 0px;

}
.figure {
    padding: 55px 0 0 0 ;
}
