*{
    box-sizing: border-box;
}
.box {
    color: #fff;
    background-color: black;
    float: left;
    width: 24%;
    padding: 30px;
    margin: 1px;
}
 @media(max-width: 1200px) {
    .box {
     float:none;
     margin-left: 400px;
     margin-bottom: 10px;
    }
 } 
