*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* body {
    background-color: beige;
    height: 50vh;
} */
header {
    background-color: beige;
    height: 20vw;
    width: 80vh;
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;  
}
.item{
    height: 100px;
    padding: 0 100px 0 0;  
}
.item-1 {
    background-color: green;
}
.item-2 {
    background-color: blue;
}
.item-3 {
    background-color: red;
}