*{
    background-color: rgb(66, 75, 117);
    text-align: center;
    margin: 10px;
    color: #fff;
    padding: 20px 50px;
    font-weight: lighter;
}
.button1 {
    font-size: 30px;
    background-color: rgb(0, 187, 47);
    border: none;
}
.button1:hover {
    background-color: rgb(4, 148, 4);
}
.button2 {   
    font-size: 20px;    
    background-color: red;
    border: none;
}
.button2:hover {
    background-color: rgb(201, 3, 3);
}
.button3 {
    font-size: 14px;
    background-color: rgb(12, 140, 214);
    border: none;
}
.button3:hover {
    background-color: rgb(3, 112, 201);
}
.button4 {
    font-size: 30px;
    border-width: 1px;
    border-color: rgb(60, 41, 131);
    border-style: solid;
    border-radius: 50px;
    background-color: orange;
}
.button4:hover {
    background-color: rgb(228, 125, 8);
}
.button5 {
    font-size: 20px;
    border-width: 1px;
    border-color: rgb(60, 41, 131);
    border-style: solid;
    border-radius: 50px;
    background-color: rgb(241, 225, 1);
}
.button5:hover {
    background-color: rgb(235, 200, 6);
}
.button6 {
    font-size: 14px;
    border-width: 1px;
    border-color: rgb(60, 41, 131);
    border-style: solid;
    border-radius: 50px;
    background-color: rgb(136, 134, 131);
}
.button6:hover {
    background-color: rgb(99, 97, 95);
}
.button7 {
    font-size: 30px;
    border-width: 3px;
    border-color: rgb(95, 218, 105);
    border-style: solid;
}
.button7:hover {
    background-color: rgb(95, 218, 105);
}
.button8 {
    font-size: 20px;
    border-width: 3px;
    border-color: red;
    border-style: solid;
}
.button8:hover {
    background-color: red;
}
.button9 {
    font-size: 14px;
    border-width: 3px;
    border-color: rgb(12, 140, 214);
    border-style: solid;
}
.button9:hover {
    background-color: rgb(12, 140, 214);
}
.button10 {
    font-size: 30px;
    border-width: 3px;
    border-color: orange;
    border-style: solid;
    border-radius: 50px;
}
.button10:hover {
    background-color: orange;
}
.button11 {
    font-size: 20px;
    border-width: 3px;
    border-color: rgb(197, 201, 7);
    border-style: solid;
    border-radius: 50px;
}
.button11:hover {
    background-color: rgb(197, 201, 7);
}
.button12 {
    font-size: 14px;
    border-width: 3px;
    border-color: rgb(136, 134, 131);
    border-style: solid;
    border-radius: 50px;
}
.button12:hover {
    background-color: rgb(136, 134, 131);
}
h3 {
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
    /* text-align: center; */
    font-size: 30px;
    font-weight: lighter;

}